.emptyDataCircle label {
  display: block;
}

.circleDiv {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.emptyDataClass {
  width: 300px;
  margin: auto;
  text-align: -webkit-center;
  position: absolute;
  left: 0;
  right: 0;
  top: 40%;
}

.emptyDataCircle {
  position: relative;
  width: 100%;
  height: 100%;
}

.emptyDataDescription {
  font-size: 20px;
  font-family: monospace;
}

.emptyDataHeader {
  font-size: 32px;
  font-family: monospace;
}

.hide {
  display: none;
}
